.elementor-53562 .elementor-element.elementor-element-22c29cc7 .elementor-repeater-item-d5baaef.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-53562 .elementor-element.elementor-element-48197f92>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-53562 .elementor-element.elementor-element-22c29cc7 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-53562 .elementor-element.elementor-element-3463af0d {
    padding: 60px 0px 60px 0px;
}

.elementor-53562 .elementor-element.elementor-element-58e3a1e img {
    width: 100%;
}

.elementor-53562 .elementor-element.elementor-element-58e3a1e>.elementor-widget-container {
    margin: 0px 30px 0px 0px;
}

.elementor-bc-flex-widget .elementor-53562 .elementor-element.elementor-element-596c2203.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-53562 .elementor-element.elementor-element-596c2203.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-53562 .elementor-element.elementor-element-7a40094b {
    text-align: left;
    color: #000000;
    font-size: 18px;
}

.elementor-53562 .elementor-element.elementor-element-7a40094b>.elementor-widget-container {
    padding: 0% 0% 0% 0%;
}

.elementor-53562 .elementor-element.elementor-element-7088903f {
    padding: 0px 0px 60px 0px;
}

.elementor-53562 .elementor-element.elementor-element-78e3299 .elementor-button {
    font-weight: 600;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: var( --e-global-color-primary);
    border-radius: 5px 5px 5px 5px;
}

.elementor-53562 .elementor-element.elementor-element-78e3299 .elementor-button:hover,
.elementor-53562 .elementor-element.elementor-element-78e3299 .elementor-button:focus {
    background-color: #000000;
}

.elementor-53562 .elementor-element.elementor-element-78e3299>.elementor-widget-container {
    margin: -50px 0px 0px 0px;
}

.elementor-53562 .elementor-element.elementor-element-1d0285cb {
    text-align: center;
}

.elementor-53562 .elementor-element.elementor-element-1d0285cb .elementor-heading-title {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2em;
}

.elementor-53562 .elementor-element.elementor-element-63b56739 {
    margin-top: 20px;
    margin-bottom: 0px;
}

.elementor-53562 .elementor-element.elementor-element-5f5a0c6b>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 20px 20px 20px 20px;
}

.elementor-53562 .elementor-element.elementor-element-5f5a0c6b>.elementor-element-populated,
.elementor-53562 .elementor-element.elementor-element-5f5a0c6b>.elementor-element-populated>.elementor-background-overlay,
.elementor-53562 .elementor-element.elementor-element-5f5a0c6b>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-53562 .elementor-element.elementor-element-5f5a0c6b:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-primary);
}

.elementor-53562 .elementor-element.elementor-element-5f5a0c6b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-6110e48f {
    text-align: left;
}

.elementor-53562 .elementor-element.elementor-element-6110e48f .elementor-heading-title {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-53562 .elementor-element.elementor-element-443deb52 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-53562 .elementor-element.elementor-element-443deb52 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-53562 .elementor-element.elementor-element-443deb52 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-53562 .elementor-element.elementor-element-443deb52 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-53562 .elementor-element.elementor-element-443deb52 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-53562 .elementor-element.elementor-element-443deb52 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-53562 .elementor-element.elementor-element-443deb52 .elementor-icon-list-icon i {
    color: #B90E18;
    transition: color 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-443deb52 .elementor-icon-list-icon svg {
    fill: #B90E18;
    transition: fill 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-443deb52 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-53562 .elementor-element.elementor-element-443deb52 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-53562 .elementor-element.elementor-element-443deb52 .elementor-icon-list-item>a {
    font-size: 16px;
    line-height: 1.4em;
}

.elementor-53562 .elementor-element.elementor-element-443deb52 .elementor-icon-list-text {
    color: #000000;
    transition: color 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-443deb52>.elementor-widget-container {
    margin: 0px 0px 0px 20px;
    padding: 0% 0% 0% 6%;
}

.elementor-53562 .elementor-element.elementor-element-1daf1c1c>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 20px 20px 20px 20px;
}

.elementor-53562 .elementor-element.elementor-element-1daf1c1c>.elementor-element-populated,
.elementor-53562 .elementor-element.elementor-element-1daf1c1c>.elementor-element-populated>.elementor-background-overlay,
.elementor-53562 .elementor-element.elementor-element-1daf1c1c>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-53562 .elementor-element.elementor-element-1daf1c1c:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-primary);
}

.elementor-53562 .elementor-element.elementor-element-1daf1c1c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-6316c736 {
    text-align: left;
}

.elementor-53562 .elementor-element.elementor-element-6316c736 .elementor-heading-title {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-53562 .elementor-element.elementor-element-7e9d7b34 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-53562 .elementor-element.elementor-element-7e9d7b34 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-53562 .elementor-element.elementor-element-7e9d7b34 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-53562 .elementor-element.elementor-element-7e9d7b34 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-53562 .elementor-element.elementor-element-7e9d7b34 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-53562 .elementor-element.elementor-element-7e9d7b34 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-53562 .elementor-element.elementor-element-7e9d7b34 .elementor-icon-list-icon i {
    color: #B90E18;
    transition: color 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-7e9d7b34 .elementor-icon-list-icon svg {
    fill: #B90E18;
    transition: fill 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-7e9d7b34 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-53562 .elementor-element.elementor-element-7e9d7b34 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-53562 .elementor-element.elementor-element-7e9d7b34 .elementor-icon-list-item>a {
    font-size: 16px;
    line-height: 1.4em;
}

.elementor-53562 .elementor-element.elementor-element-7e9d7b34 .elementor-icon-list-text {
    color: #000000;
    transition: color 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-7e9d7b34>.elementor-widget-container {
    margin: 0px 0px 0px 20px;
    padding: 0% 0% 0% 6%;
}

.elementor-53562 .elementor-element.elementor-element-260db115>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 20px 20px 20px 20px;
}

.elementor-53562 .elementor-element.elementor-element-260db115>.elementor-element-populated,
.elementor-53562 .elementor-element.elementor-element-260db115>.elementor-element-populated>.elementor-background-overlay,
.elementor-53562 .elementor-element.elementor-element-260db115>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-53562 .elementor-element.elementor-element-260db115:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-primary);
}

.elementor-53562 .elementor-element.elementor-element-260db115>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-151b8b3b {
    text-align: left;
}

.elementor-53562 .elementor-element.elementor-element-151b8b3b .elementor-heading-title {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-53562 .elementor-element.elementor-element-493f76d7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-53562 .elementor-element.elementor-element-493f76d7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-53562 .elementor-element.elementor-element-493f76d7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-53562 .elementor-element.elementor-element-493f76d7 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-53562 .elementor-element.elementor-element-493f76d7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-53562 .elementor-element.elementor-element-493f76d7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-53562 .elementor-element.elementor-element-493f76d7 .elementor-icon-list-icon i {
    color: #B90E18;
    transition: color 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-493f76d7 .elementor-icon-list-icon svg {
    fill: #B90E18;
    transition: fill 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-493f76d7 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-53562 .elementor-element.elementor-element-493f76d7 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-53562 .elementor-element.elementor-element-493f76d7 .elementor-icon-list-item>a {
    font-size: 16px;
    line-height: 1.4em;
}

.elementor-53562 .elementor-element.elementor-element-493f76d7 .elementor-icon-list-text {
    color: #000000;
    transition: color 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-493f76d7>.elementor-widget-container {
    margin: 0px 0px 0px 20px;
    padding: 0% 0% 0% 6%;
}

.elementor-53562 .elementor-element.elementor-element-7710d5ff {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-53562 .elementor-element.elementor-element-379dbd8c>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 20px 20px 20px 20px;
}

.elementor-53562 .elementor-element.elementor-element-379dbd8c>.elementor-element-populated,
.elementor-53562 .elementor-element.elementor-element-379dbd8c>.elementor-element-populated>.elementor-background-overlay,
.elementor-53562 .elementor-element.elementor-element-379dbd8c>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-53562 .elementor-element.elementor-element-379dbd8c:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-primary);
}

.elementor-53562 .elementor-element.elementor-element-379dbd8c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-f697549 {
    text-align: left;
}

.elementor-53562 .elementor-element.elementor-element-f697549 .elementor-heading-title {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-53562 .elementor-element.elementor-element-4dbff7b2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-53562 .elementor-element.elementor-element-4dbff7b2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-53562 .elementor-element.elementor-element-4dbff7b2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-53562 .elementor-element.elementor-element-4dbff7b2 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-53562 .elementor-element.elementor-element-4dbff7b2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-53562 .elementor-element.elementor-element-4dbff7b2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-53562 .elementor-element.elementor-element-4dbff7b2 .elementor-icon-list-icon i {
    color: #B90E18;
    transition: color 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-4dbff7b2 .elementor-icon-list-icon svg {
    fill: #B90E18;
    transition: fill 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-4dbff7b2 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-53562 .elementor-element.elementor-element-4dbff7b2 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-53562 .elementor-element.elementor-element-4dbff7b2 .elementor-icon-list-item>a {
    font-size: 16px;
    line-height: 1.4em;
}

.elementor-53562 .elementor-element.elementor-element-4dbff7b2 .elementor-icon-list-text {
    color: #000000;
    transition: color 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-4dbff7b2>.elementor-widget-container {
    margin: 0px 0px 0px 20px;
    padding: 0% 0% 0% 6%;
}

.elementor-53562 .elementor-element.elementor-element-53e4ad5f>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 20px 20px 20px 20px;
}

.elementor-53562 .elementor-element.elementor-element-53e4ad5f>.elementor-element-populated,
.elementor-53562 .elementor-element.elementor-element-53e4ad5f>.elementor-element-populated>.elementor-background-overlay,
.elementor-53562 .elementor-element.elementor-element-53e4ad5f>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-53562 .elementor-element.elementor-element-53e4ad5f:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-primary);
}

.elementor-53562 .elementor-element.elementor-element-53e4ad5f>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-4525934 {
    text-align: left;
}

.elementor-53562 .elementor-element.elementor-element-4525934 .elementor-heading-title {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-53562 .elementor-element.elementor-element-36a76505 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-53562 .elementor-element.elementor-element-36a76505 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-53562 .elementor-element.elementor-element-36a76505 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-53562 .elementor-element.elementor-element-36a76505 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-53562 .elementor-element.elementor-element-36a76505 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-53562 .elementor-element.elementor-element-36a76505 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-53562 .elementor-element.elementor-element-36a76505 .elementor-icon-list-icon i {
    color: #B90E18;
    transition: color 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-36a76505 .elementor-icon-list-icon svg {
    fill: #B90E18;
    transition: fill 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-36a76505 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-53562 .elementor-element.elementor-element-36a76505 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-53562 .elementor-element.elementor-element-36a76505 .elementor-icon-list-item>a {
    font-size: 16px;
    line-height: 1.4em;
}

.elementor-53562 .elementor-element.elementor-element-36a76505 .elementor-icon-list-text {
    color: #000000;
    transition: color 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-36a76505>.elementor-widget-container {
    margin: 0px 0px 0px 20px;
    padding: 0% 0% 0% 6%;
}

.elementor-53562 .elementor-element.elementor-element-bb0231b>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 20px 20px 20px 20px;
}

.elementor-53562 .elementor-element.elementor-element-bb0231b>.elementor-element-populated,
.elementor-53562 .elementor-element.elementor-element-bb0231b>.elementor-element-populated>.elementor-background-overlay,
.elementor-53562 .elementor-element.elementor-element-bb0231b>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-53562 .elementor-element.elementor-element-bb0231b:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-primary);
}

.elementor-53562 .elementor-element.elementor-element-bb0231b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-9a34ba0 {
    text-align: left;
}

.elementor-53562 .elementor-element.elementor-element-9a34ba0 .elementor-heading-title {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-53562 .elementor-element.elementor-element-3e916ce .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-53562 .elementor-element.elementor-element-3e916ce .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-53562 .elementor-element.elementor-element-3e916ce .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-53562 .elementor-element.elementor-element-3e916ce .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-53562 .elementor-element.elementor-element-3e916ce .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-53562 .elementor-element.elementor-element-3e916ce .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-53562 .elementor-element.elementor-element-3e916ce .elementor-icon-list-icon i {
    color: #B90E18;
    transition: color 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-3e916ce .elementor-icon-list-icon svg {
    fill: #B90E18;
    transition: fill 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-3e916ce {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-53562 .elementor-element.elementor-element-3e916ce .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-53562 .elementor-element.elementor-element-3e916ce .elementor-icon-list-item>a {
    font-size: 16px;
    line-height: 1.4em;
}

.elementor-53562 .elementor-element.elementor-element-3e916ce .elementor-icon-list-text {
    color: #000000;
    transition: color 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-3e916ce>.elementor-widget-container {
    margin: 0px 0px 0px 20px;
    padding: 0% 0% 0% 6%;
}

.elementor-53562 .elementor-element.elementor-element-f5d9ca3 .elementor-repeater-item-542e32a.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-53562 .elementor-element.elementor-element-30a649ab {
    text-align: center;
}

.elementor-53562 .elementor-element.elementor-element-30a649ab .elementor-heading-title {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2em;
}

.elementor-53562 .elementor-element.elementor-element-18d3267f {
    text-align: center;
    color: #000000;
    font-size: 18px;
}

.elementor-53562 .elementor-element.elementor-element-18d3267f>.elementor-widget-container {
    padding: 0% 0% 0% 0%;
}

.elementor-53562 .elementor-element.elementor-element-f5d9ca3:not(.elementor-motion-effects-element-type-background),
.elementor-53562 .elementor-element.elementor-element-f5d9ca3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F7F7F7;
}

.elementor-53562 .elementor-element.elementor-element-f5d9ca3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 0px 60px 0px;
}

.elementor-53562 .elementor-element.elementor-element-f5d9ca3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-6537a2db>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-53562 .elementor-element.elementor-element-6537a2db:not(.elementor-motion-effects-element-type-background),
.elementor-53562 .elementor-element.elementor-element-6537a2db>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://datamaticscpa.com/wp-content/uploads/2023/06/cta-bg.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-53562 .elementor-element.elementor-element-6537a2db {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}

.elementor-53562 .elementor-element.elementor-element-6537a2db>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-53562 .elementor-element.elementor-element-1900c13a.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-53562 .elementor-element.elementor-element-1900c13a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-53562 .elementor-element.elementor-element-37209156 {
    text-align: left;
}

.elementor-53562 .elementor-element.elementor-element-37209156 .elementor-heading-title {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2em;
}

.elementor-bc-flex-widget .elementor-53562 .elementor-element.elementor-element-5b2692a3.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-53562 .elementor-element.elementor-element-5b2692a3.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-53562 .elementor-element.elementor-element-5b2692a3.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-53562 .elementor-element.elementor-element-66ce987c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-53562 .elementor-element.elementor-element-12f4a2f9 .elementor-repeater-item-6fef9cc.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-53562 .elementor-element.elementor-element-5e05862d {
    text-align: left;
}

.elementor-53562 .elementor-element.elementor-element-5e05862d .elementor-heading-title {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2em;
}

.elementor-53562 .elementor-element.elementor-element-5e05862d>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-53562 .elementor-element.elementor-element-15d5c1e1 {
    text-align: left;
    color: #000000;
    font-size: 16px;
}

.elementor-53562 .elementor-element.elementor-element-15d5c1e1>.elementor-widget-container {
    padding: 0% 0% 0% 0%;
}

body:not(.rtl) .elementor-53562 .elementor-element.elementor-element-263afcea {
    left: 0px;
}

body.rtl .elementor-53562 .elementor-element.elementor-element-263afcea {
    right: 0px;
}

.elementor-53562 .elementor-element.elementor-element-263afcea {
    bottom: 62px;
}

.elementor-53562 .elementor-element.elementor-element-12f4a2f9 {
    padding: 60px 0px 60px 0px;
    z-index: 1;
}

.elementor-53562 .elementor-element.elementor-element-6861f377 .elementor-repeater-item-542e32a.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-53562 .elementor-element.elementor-element-3fbbc1ba {
    text-align: center;
}

.elementor-53562 .elementor-element.elementor-element-3fbbc1ba .elementor-heading-title {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2em;
}

.elementor-53562 .elementor-element.elementor-element-56fb489b {
    text-align: center;
    color: #000000;
    font-size: 16px;
}

.elementor-53562 .elementor-element.elementor-element-56fb489b>.elementor-widget-container {
    padding: 0% 0% 0% 0%;
}

.elementor-53562 .elementor-element.elementor-element-11efa64 .elementor-repeater-item-d2936d2.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-53562 .elementor-element.elementor-element-df286d5:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-53562 .elementor-element.elementor-element-df286d5>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-53562 .elementor-element.elementor-element-df286d5>.elementor-element-populated,
.elementor-53562 .elementor-element.elementor-element-df286d5>.elementor-element-populated>.elementor-background-overlay,
.elementor-53562 .elementor-element.elementor-element-df286d5>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-53562 .elementor-element.elementor-element-df286d5>.elementor-element-populated {
    box-shadow: 0px 6px 14px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 30px 30px 30px 30px;
}

.elementor-53562 .elementor-element.elementor-element-df286d5>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-92fefab img {
    width: 50px;
}

.elementor-53562 .elementor-element.elementor-element-917cffb .elementor-counter-number-wrapper {
    color: #B90E18;
    font-size: 36px;
    line-height: 1.4em;
}

.elementor-53562 .elementor-element.elementor-element-917cffb .elementor-counter-title {
    color: #000000;
    font-size: 16px;
    line-height: 1.4em;
}

.elementor-53562 .elementor-element.elementor-element-31003a6:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-53562 .elementor-element.elementor-element-31003a6>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-53562 .elementor-element.elementor-element-31003a6>.elementor-element-populated,
.elementor-53562 .elementor-element.elementor-element-31003a6>.elementor-element-populated>.elementor-background-overlay,
.elementor-53562 .elementor-element.elementor-element-31003a6>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-53562 .elementor-element.elementor-element-31003a6>.elementor-element-populated {
    box-shadow: 0px 6px 14px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 30px 30px 30px 30px;
}

.elementor-53562 .elementor-element.elementor-element-31003a6>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-330c592 img {
    width: 50px;
}

.elementor-53562 .elementor-element.elementor-element-b2f1096 .elementor-counter-number-wrapper {
    color: #B90E18;
    font-size: 36px;
    line-height: 1.4em;
}

.elementor-53562 .elementor-element.elementor-element-b2f1096 .elementor-counter-title {
    color: #000000;
    font-size: 16px;
    line-height: 1.4em;
}

.elementor-53562 .elementor-element.elementor-element-08b6b31:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-53562 .elementor-element.elementor-element-08b6b31>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-53562 .elementor-element.elementor-element-08b6b31>.elementor-element-populated,
.elementor-53562 .elementor-element.elementor-element-08b6b31>.elementor-element-populated>.elementor-background-overlay,
.elementor-53562 .elementor-element.elementor-element-08b6b31>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-53562 .elementor-element.elementor-element-08b6b31>.elementor-element-populated {
    box-shadow: 0px 6px 14px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 30px 30px 30px 30px;
}

.elementor-53562 .elementor-element.elementor-element-08b6b31>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-23ef6d3 img {
    width: 50px;
}

.elementor-53562 .elementor-element.elementor-element-72a4eeb .elementor-counter-number-wrapper {
    color: #B90E18;
    font-size: 36px;
    line-height: 1.4em;
}

.elementor-53562 .elementor-element.elementor-element-72a4eeb .elementor-counter-title {
    color: #000000;
    font-size: 16px;
    line-height: 1.4em;
}

.elementor-53562 .elementor-element.elementor-element-b78097c:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-53562 .elementor-element.elementor-element-b78097c>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-53562 .elementor-element.elementor-element-b78097c>.elementor-element-populated,
.elementor-53562 .elementor-element.elementor-element-b78097c>.elementor-element-populated>.elementor-background-overlay,
.elementor-53562 .elementor-element.elementor-element-b78097c>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-53562 .elementor-element.elementor-element-b78097c>.elementor-element-populated {
    box-shadow: 0px 6px 14px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 30px 30px 30px 30px;
}

.elementor-53562 .elementor-element.elementor-element-b78097c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-8832a09 img {
    width: 50px;
}

.elementor-53562 .elementor-element.elementor-element-23c9903 .elementor-counter-number-wrapper {
    color: #B90E18;
    font-size: 36px;
    line-height: 1.4em;
}

.elementor-53562 .elementor-element.elementor-element-23c9903 .elementor-counter-title {
    color: #000000;
    font-size: 16px;
    line-height: 1.4em;
}

.elementor-53562 .elementor-element.elementor-element-6861f377:not(.elementor-motion-effects-element-type-background),
.elementor-53562 .elementor-element.elementor-element-6861f377>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F7F7F7;
    background-image: url("https://datamaticscpa.com/wp-content/uploads/2023/05/stripe.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.elementor-53562 .elementor-element.elementor-element-6861f377>.elementor-background-overlay {
    background-color: #FFFFFF;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-6861f377 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 60px 0px;
    z-index: 1;
}

.elementor-53562 .elementor-element.elementor-element-584ccde5 .elementor-repeater-item-d28d7b6.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-53562 .elementor-element.elementor-element-7b041af9 {
    text-align: center;
}

.elementor-53562 .elementor-element.elementor-element-7b041af9 .elementor-heading-title {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2em;
}

.elementor-53562 .elementor-element.elementor-element-0c2f29f .elementor-accordion-icon,
.elementor-53562 .elementor-element.elementor-element-0c2f29f .elementor-accordion-title {
    color: var( --e-global-color-secondary);
}

.elementor-53562 .elementor-element.elementor-element-0c2f29f .elementor-accordion-icon svg {
    fill: var( --e-global-color-secondary);
}

.elementor-53562 .elementor-element.elementor-element-0c2f29f .elementor-active .elementor-accordion-icon,
.elementor-53562 .elementor-element.elementor-element-0c2f29f .elementor-active .elementor-accordion-title {
    color: #000000;
}

.elementor-53562 .elementor-element.elementor-element-0c2f29f .elementor-active .elementor-accordion-icon svg {
    fill: #000000;
}

.elementor-53562 .elementor-element.elementor-element-0c2f29f .elementor-accordion-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2em;
}

.elementor-53562 .elementor-element.elementor-element-0c2f29f .elementor-tab-content {
    color: #000000;
    font-size: 16px;
}

.elementor-53562 .elementor-element.elementor-element-35a0988:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-53562 .elementor-element.elementor-element-35a0988>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F2F2F2;
}

.elementor-53562 .elementor-element.elementor-element-35a0988>.elementor-element-populated,
.elementor-53562 .elementor-element.elementor-element-35a0988>.elementor-element-populated>.elementor-background-overlay,
.elementor-53562 .elementor-element.elementor-element-35a0988>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-53562 .elementor-element.elementor-element-35a0988>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 0px 0px 20px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 20px;
    padding: 0px 0px 0px 0px;
}

.elementor-53562 .elementor-element.elementor-element-35a0988>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53562 .elementor-element.elementor-element-d827fdd img {
    border-radius: 10px 10px 0px 0px;
}

.elementor-53562 .elementor-element.elementor-element-490b636b {
    text-align: left;
}

.elementor-53562 .elementor-element.elementor-element-490b636b .elementor-heading-title {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2em;
}

.elementor-53562 .elementor-element.elementor-element-490b636b>.elementor-widget-container {
    padding: 0px 20px 0px 20px;
}

.elementor-53562 .elementor-element.elementor-element-4c139180 {
    text-align: left;
    color: #000000;
    font-size: 18px;
}

.elementor-53562 .elementor-element.elementor-element-4c139180>.elementor-widget-container {
    margin: 0px 0px 0px 25px;
    padding: 0% 0% 0% 0%;
}

.elementor-53562 .elementor-element.elementor-element-217f33ea>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 20px 0px 20px;
}

.elementor-53562 .elementor-element.elementor-element-584ccde5:not(.elementor-motion-effects-element-type-background),
.elementor-53562 .elementor-element.elementor-element-584ccde5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-53562 .elementor-element.elementor-element-584ccde5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 60px 0px 60px 0px;
}

.elementor-53562 .elementor-element.elementor-element-584ccde5>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-53562 .elementor-element.elementor-element-df286d5 {
        width: 50%;
    }
    .elementor-53562 .elementor-element.elementor-element-31003a6 {
        width: 50%;
    }
    .elementor-53562 .elementor-element.elementor-element-08b6b31 {
        width: 50%;
    }
    .elementor-53562 .elementor-element.elementor-element-b78097c {
        width: 50%;
    }
}

@media(max-width:1366px) {
    .elementor-53562 .elementor-element.elementor-element-7a40094b {
        text-align: left;
    }
    .elementor-53562 .elementor-element.elementor-element-1d0285cb .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53562 .elementor-element.elementor-element-30a649ab .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53562 .elementor-element.elementor-element-37209156 .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53562 .elementor-element.elementor-element-5e05862d .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53562 .elementor-element.elementor-element-12f4a2f9 {
        padding: 40px 0px 60px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-3fbbc1ba .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53562 .elementor-element.elementor-element-7b041af9 .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53562 .elementor-element.elementor-element-490b636b .elementor-heading-title {
        font-size: 36px;
    }
}

@media(max-width:1200px) {
    .elementor-53562 .elementor-element.elementor-element-1d0285cb .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53562 .elementor-element.elementor-element-30a649ab .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53562 .elementor-element.elementor-element-37209156 .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53562 .elementor-element.elementor-element-5e05862d .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53562 .elementor-element.elementor-element-12f4a2f9 {
        padding: 40px 20px 60px 20px;
    }
    .elementor-53562 .elementor-element.elementor-element-3fbbc1ba .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53562 .elementor-element.elementor-element-917cffb .elementor-counter-number-wrapper {
        font-size: 32px;
    }
    .elementor-53562 .elementor-element.elementor-element-b2f1096 .elementor-counter-number-wrapper {
        font-size: 32px;
    }
    .elementor-53562 .elementor-element.elementor-element-72a4eeb .elementor-counter-number-wrapper {
        font-size: 32px;
    }
    .elementor-53562 .elementor-element.elementor-element-23c9903 .elementor-counter-number-wrapper {
        font-size: 32px;
    }
    .elementor-53562 .elementor-element.elementor-element-7b041af9 .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53562 .elementor-element.elementor-element-490b636b .elementor-heading-title {
        font-size: 36px;
    }
}

@media(max-width:1024px) {
    .elementor-53562 .elementor-element.elementor-element-1d0285cb .elementor-heading-title {
        font-size: 32px;
    }
    .elementor-53562 .elementor-element.elementor-element-1d0285cb>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-30a649ab .elementor-heading-title {
        font-size: 32px;
    }
    .elementor-53562 .elementor-element.elementor-element-30a649ab>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-37209156 .elementor-heading-title {
        font-size: 32px;
    }
    .elementor-53562 .elementor-element.elementor-element-37209156>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-5e05862d .elementor-heading-title {
        font-size: 32px;
    }
    .elementor-53562 .elementor-element.elementor-element-5e05862d>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-12f4a2f9 {
        padding: 40px 0px 60px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-3fbbc1ba .elementor-heading-title {
        font-size: 32px;
    }
    .elementor-53562 .elementor-element.elementor-element-3fbbc1ba>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-917cffb .elementor-counter-number-wrapper {
        font-size: 32px;
    }
    .elementor-53562 .elementor-element.elementor-element-b2f1096 .elementor-counter-number-wrapper {
        font-size: 32px;
    }
    .elementor-53562 .elementor-element.elementor-element-72a4eeb .elementor-counter-number-wrapper {
        font-size: 32px;
    }
    .elementor-53562 .elementor-element.elementor-element-23c9903 .elementor-counter-number-wrapper {
        font-size: 32px;
    }
    .elementor-53562 .elementor-element.elementor-element-6861f377 {
        padding: 40px 0px 40px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-7b041af9 .elementor-heading-title {
        font-size: 32px;
    }
    .elementor-53562 .elementor-element.elementor-element-7b041af9>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-490b636b .elementor-heading-title {
        font-size: 32px;
    }
    .elementor-53562 .elementor-element.elementor-element-490b636b>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-584ccde5 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 60px 0px;
    }
}

@media(max-width:767px) {
    .elementor-53562 .elementor-element.elementor-element-1352cc9c {
        z-index: 0;
    }
    .elementor-53562 .elementor-element.elementor-element-22c29cc7 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-58e3a1e>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-7a40094b {
        text-align: center;
        font-size: 16px;
    }
    .elementor-53562 .elementor-element.elementor-element-7a40094b>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-1d0285cb {
        text-align: center;
    }
    .elementor-53562 .elementor-element.elementor-element-1d0285cb .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-53562 .elementor-element.elementor-element-6110e48f .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-53562 .elementor-element.elementor-element-6316c736 .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-53562 .elementor-element.elementor-element-151b8b3b .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-53562 .elementor-element.elementor-element-f697549 .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-53562 .elementor-element.elementor-element-4525934 .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-53562 .elementor-element.elementor-element-9a34ba0 .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-53562 .elementor-element.elementor-element-30a649ab {
        text-align: center;
    }
    .elementor-53562 .elementor-element.elementor-element-30a649ab .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-53562 .elementor-element.elementor-element-18d3267f {
        font-size: 16px;
    }
    .elementor-53562 .elementor-element.elementor-element-18d3267f>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-6537a2db:not(.elementor-motion-effects-element-type-background),
    .elementor-53562 .elementor-element.elementor-element-6537a2db>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-size: cover;
    }
    .elementor-53562 .elementor-element.elementor-element-6537a2db {
        padding: 60px 0px 60px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-37209156 {
        text-align: center;
    }
    .elementor-53562 .elementor-element.elementor-element-37209156 .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-53562 .elementor-element.elementor-element-76e52b5f>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 15px 0px 15px;
    }
    .elementor-53562 .elementor-element.elementor-element-5e05862d {
        text-align: center;
    }
    .elementor-53562 .elementor-element.elementor-element-5e05862d .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-53562 .elementor-element.elementor-element-15d5c1e1 {
        font-size: 16px;
    }
    .elementor-53562 .elementor-element.elementor-element-15d5c1e1>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    body:not(.rtl) .elementor-53562 .elementor-element.elementor-element-263afcea {
        left: 0px;
    }
    body.rtl .elementor-53562 .elementor-element.elementor-element-263afcea {
        right: 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-263afcea {
        bottom: -440px;
    }
    .elementor-53562 .elementor-element.elementor-element-1d3c2e16>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-12f4a2f9 {
        padding: 40px 0px 90px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-3fbbc1ba {
        text-align: center;
    }
    .elementor-53562 .elementor-element.elementor-element-3fbbc1ba .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-53562 .elementor-element.elementor-element-3fbbc1ba>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-56fb489b {
        font-size: 16px;
    }
    .elementor-53562 .elementor-element.elementor-element-56fb489b>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-df286d5>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-53562 .elementor-element.elementor-element-917cffb .elementor-counter-number-wrapper {
        font-size: 26px;
    }
    .elementor-53562 .elementor-element.elementor-element-31003a6>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-53562 .elementor-element.elementor-element-b2f1096 .elementor-counter-number-wrapper {
        font-size: 26px;
    }
    .elementor-53562 .elementor-element.elementor-element-08b6b31>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-53562 .elementor-element.elementor-element-72a4eeb .elementor-counter-number-wrapper {
        font-size: 26px;
    }
    .elementor-53562 .elementor-element.elementor-element-b78097c>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-53562 .elementor-element.elementor-element-23c9903 .elementor-counter-number-wrapper {
        font-size: 26px;
    }
    .elementor-53562 .elementor-element.elementor-element-7b041af9 {
        text-align: center;
    }
    .elementor-53562 .elementor-element.elementor-element-7b041af9 .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-53562 .elementor-element.elementor-element-7b041af9>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 10px 0px 10px;
    }
    .elementor-53562 .elementor-element.elementor-element-35a0988>.elementor-element-populated {
        margin: 10px 10px 10px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
        padding: 0px 0px 30px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-490b636b {
        text-align: center;
    }
    .elementor-53562 .elementor-element.elementor-element-490b636b .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-53562 .elementor-element.elementor-element-490b636b>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-4c139180 {
        font-size: 16px;
    }
    .elementor-53562 .elementor-element.elementor-element-4c139180>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-53562 .elementor-element.elementor-element-584ccde5 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 50px 0px 60px 0px;
    }
}

@media(min-width:768px) {
    .elementor-53562 .elementor-element.elementor-element-6a312532 {
        width: 50%;
    }
    .elementor-53562 .elementor-element.elementor-element-596c2203 {
        width: 50%;
    }
    .elementor-53562 .elementor-element.elementor-element-1900c13a {
        width: 70%;
    }
    .elementor-53562 .elementor-element.elementor-element-5b2692a3 {
        width: 30%;
    }
}

@media(min-width:1920px) {
    .elementor-53562 .elementor-element.elementor-element-1d0285cb .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53562 .elementor-element.elementor-element-30a649ab .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53562 .elementor-element.elementor-element-37209156 .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53562 .elementor-element.elementor-element-5e05862d .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53562 .elementor-element.elementor-element-3fbbc1ba .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53562 .elementor-element.elementor-element-7b041af9 .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53562 .elementor-element.elementor-element-490b636b .elementor-heading-title {
        font-size: 36px;
    }
}

/* Start custom CSS for accordion, class: .elementor-element-0c2f29f */

.cust-faqs .elementor-accordion .elementor-accordion-item {
    border: 1px solid #ededed;
    margin-bottom: 20px;
    box-shadow: 6px 6px 10px 0px rgb(0 0 0 / 10%);
    border-radius: 5px;
}

/* End custom CSS */

/* Start custom CSS for accordion, class: .elementor-element-0c2f29f */

.cust-faqs .elementor-accordion .elementor-accordion-item {
    border: 1px solid #ededed;
    margin-bottom: 20px;
    box-shadow: 6px 6px 10px 0px rgb(0 0 0 / 10%);
    border-radius: 5px;
}

/* End custom CSS */