.elementor-55491 .elementor-element.elementor-element-694b3105>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-55491 .elementor-element.elementor-element-694b3105 .elementor-repeater-item-31357b7.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-bc-flex-widget .elementor-55491 .elementor-element.elementor-element-e3ccbee.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-55491 .elementor-element.elementor-element-e3ccbee.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-55491 .elementor-element.elementor-element-e3ccbee>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-55491 .elementor-element.elementor-element-e3ccbee>.elementor-element-populated {
    padding: 0px 0px 0px 15px;
}

.elementor-55491 .elementor-element.elementor-element-31d2ad7a {
    text-align: left;
}

.elementor-55491 .elementor-element.elementor-element-31d2ad7a .elementor-heading-title {
    color: #ffffff;
    font-size: 35px;
    font-weight: 500;
    line-height: 1.1em;
}

.elementor-55491 .elementor-element.elementor-element-31d2ad7a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
}

.elementor-55491 .elementor-element.elementor-element-13888d6e {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0px;
}

.elementor-55491 .elementor-element.elementor-element-13888d6e>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
}

.elementor-55491 .elementor-element.elementor-element-694b3105:not(.elementor-motion-effects-element-type-background),
.elementor-55491 .elementor-element.elementor-element-694b3105>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #222222;
}

.elementor-55491 .elementor-element.elementor-element-694b3105 {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 40px 10px 40px;
}

.elementor-55491 .elementor-element.elementor-element-694b3105>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-55491 .elementor-element.elementor-element-5188a1f7>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-55491 .elementor-element.elementor-element-5188a1f7 .elementor-repeater-item-31357b7.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-bc-flex-widget .elementor-55491 .elementor-element.elementor-element-47b87f3e.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-55491 .elementor-element.elementor-element-47b87f3e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-55491 .elementor-element.elementor-element-47b87f3e>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-55491 .elementor-element.elementor-element-3510b23a {
    --divider-border-style: solid;
    --divider-color: #ba0020;
    --divider-border-width: 3px;
}

.elementor-55491 .elementor-element.elementor-element-3510b23a .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-55491 .elementor-element.elementor-element-3510b23a .elementor-divider {
    text-align: center;
    padding-block-start: 2px;
    padding-block-end: 2px;
}

.elementor-55491 .elementor-element.elementor-element-3510b23a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 12px 10px;
}

.elementor-55491 .elementor-element.elementor-element-299b06d8 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}

.elementor-55491 .elementor-element.elementor-element-299b06d8>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
}

.elementor-55491 .elementor-element.elementor-element-5188a1f7:not(.elementor-motion-effects-element-type-background),
.elementor-55491 .elementor-element.elementor-element-5188a1f7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #222222;
}

.elementor-55491 .elementor-element.elementor-element-5188a1f7 {
    box-shadow: -100px -100px 0px -100px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 30px 20px 30px;
}

.elementor-55491 .elementor-element.elementor-element-5188a1f7>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

#elementor-popup-modal-55491 .dialog-message {
    width: 70vw;
    height: auto;
}

#elementor-popup-modal-55491 {
    justify-content: center;
    align-items: center;
    pointer-events: all;
    background-color: rgba(0, 0, 0, .8);
}

#elementor-popup-modal-55491 .dialog-close-button {
    display: flex;
}

#elementor-popup-modal-55491 .dialog-widget-content {
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

#elementor-popup-modal-55491 .dialog-close-button i {
    color: #FFFFFF;
}

#elementor-popup-modal-55491 .dialog-close-button svg {
    fill: #FFFFFF;
}

@media(min-width:768px) {
    .elementor-55491 .elementor-element.elementor-element-63e144f7 {
        width: 25%;
    }
    .elementor-55491 .elementor-element.elementor-element-e3ccbee {
        width: 74.703%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-55491 .elementor-element.elementor-element-63e144f7 {
        width: 25%;
    }
    .elementor-55491 .elementor-element.elementor-element-e3ccbee {
        width: 75%;
    }
}

@media(min-width:1920px) {
    #elementor-popup-modal-55491 .dialog-widget-content {
        border-radius: 10px 10px 10px 10px;
    }
}

@media(max-width:1024px) {
    .elementor-bc-flex-widget .elementor-55491 .elementor-element.elementor-element-e3ccbee.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-55491 .elementor-element.elementor-element-e3ccbee.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-55491 .elementor-element.elementor-element-e3ccbee>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 10px;
    }
    .elementor-55491 .elementor-element.elementor-element-31d2ad7a .elementor-heading-title {
        font-size: 45px;
    }
    .elementor-55491 .elementor-element.elementor-element-31d2ad7a>.elementor-widget-container {
        padding: 0px 15px 0px 15px;
    }
    .elementor-55491 .elementor-element.elementor-element-13888d6e>.elementor-widget-container {
        padding: 0px 15px 0px 15px;
    }
    .elementor-55491 .elementor-element.elementor-element-694b3105 {
        padding: 40px 40px 20px 40px;
    }
    .elementor-55491 .elementor-element.elementor-element-47b87f3e>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .elementor-55491 .elementor-element.elementor-element-3510b23a .elementor-divider-separator {
        width: 100%;
        margin: 0 auto;
        margin-center: 0;
    }
    .elementor-55491 .elementor-element.elementor-element-3510b23a .elementor-divider {
        text-align: center;
    }
    .elementor-55491 .elementor-element.elementor-element-3510b23a>.elementor-widget-container {
        padding: 0px 10px 20px 10px;
    }
    .elementor-55491 .elementor-element.elementor-element-5188a1f7 {
        padding: 0px 20px 0px 20px;
    }
    #elementor-popup-modal-55491 .dialog-message {
        width: 85vw;
    }
}

@media(max-width:767px) {
    .elementor-55491 .elementor-element.elementor-element-63e144f7 {
        width: 100%;
    }
    .elementor-55491 .elementor-element.elementor-element-63e144f7>.elementor-element-populated {
        padding: 0% 25% 0% 25%;
    }
    .elementor-55491 .elementor-element.elementor-element-4029f51a {
        text-align: left;
    }
    .elementor-55491 .elementor-element.elementor-element-4029f51a img {
        max-width: 100%;
    }
    .elementor-55491 .elementor-element.elementor-element-4029f51a>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-55491 .elementor-element.elementor-element-e3ccbee>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-55491 .elementor-element.elementor-element-31d2ad7a {
        text-align: center;
    }
    .elementor-55491 .elementor-element.elementor-element-31d2ad7a .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-55491 .elementor-element.elementor-element-31d2ad7a>.elementor-widget-container {
        padding: 10px 0px 0px 0px;
    }
    .elementor-55491 .elementor-element.elementor-element-13888d6e {
        text-align: center;
    }
    .elementor-55491 .elementor-element.elementor-element-13888d6e>.elementor-widget-container {
        margin: -10px 0px 0px 0px;
        padding: 10px 0px 0px 0px;
    }
    .elementor-55491 .elementor-element.elementor-element-694b3105 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 30px 40px 0px 20px;
    }
    .elementor-55491 .elementor-element.elementor-element-47b87f3e>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-55491 .elementor-element.elementor-element-3510b23a>.elementor-widget-container {
        padding: 0px 10px 10px 10px;
    }
    .elementor-55491 .elementor-element.elementor-element-299b06d8>.elementor-widget-container {
        padding: 5px 10px 0px 10px;
    }
    .elementor-55491 .elementor-element.elementor-element-5188a1f7 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 30px 0px 20px;
    }
}