.elementor-53650 .elementor-element.elementor-element-a465881 .elementor-repeater-item-d5baaef.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-53650 .elementor-element.elementor-element-30e9033>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-53650 .elementor-element.elementor-element-a465881 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-53650 .elementor-element.elementor-element-ca09333 {
    padding: 60px 0px 0px 0px;
}

.elementor-53650 .elementor-element.elementor-element-959f7a4 {
    text-align: center;
}

.elementor-53650 .elementor-element.elementor-element-959f7a4 .elementor-heading-title {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2em;
}

.elementor-53650 .elementor-element.elementor-element-959f7a4>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-53650 .elementor-element.elementor-element-554dc1d {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 20px 10px 20px;
}

.elementor-53650 .elementor-element.elementor-element-554dc1d,
.elementor-53650 .elementor-element.elementor-element-554dc1d>.elementor-background-overlay {
    border-radius: 20px 20px 20px 20px;
}

.elementor-53650 .elementor-element.elementor-element-554dc1d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-53650 .elementor-element.elementor-element-411b43c.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-53650 .elementor-element.elementor-element-411b43c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-53650 .elementor-element.elementor-element-38ab3a4 {
    width: var( --container-widget-width, 14%);
    max-width: 14%;
    --container-widget-width: 14%;
    --container-widget-flex-grow: 0;
}

.elementor-53650 .elementor-element.elementor-element-61f1403 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    width: var( --container-widget-width, 84%);
    max-width: 84%;
    --container-widget-width: 84%;
    --container-widget-flex-grow: 0;
}

.elementor-53650 .elementor-element.elementor-element-61f1403>.elementor-widget-container {
    margin: 0px 0px 0px 10px;
}

.elementor-bc-flex-widget .elementor-53650 .elementor-element.elementor-element-30a4e9b.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-53650 .elementor-element.elementor-element-30a4e9b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-53650 .elementor-element.elementor-element-298593d {
    width: var( --container-widget-width, 14%);
    max-width: 14%;
    --container-widget-width: 14%;
    --container-widget-flex-grow: 0;
}

.elementor-53650 .elementor-element.elementor-element-5adb068 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    width: var( --container-widget-width, 84%);
    max-width: 84%;
    --container-widget-width: 84%;
    --container-widget-flex-grow: 0;
}

.elementor-53650 .elementor-element.elementor-element-5adb068>.elementor-widget-container {
    margin: 0px 0px 0px 10px;
}

.elementor-bc-flex-widget .elementor-53650 .elementor-element.elementor-element-0f7f922.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-53650 .elementor-element.elementor-element-0f7f922.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-53650 .elementor-element.elementor-element-f44e528 {
    width: var( --container-widget-width, 14%);
    max-width: 14%;
    --container-widget-width: 14%;
    --container-widget-flex-grow: 0;
}

.elementor-53650 .elementor-element.elementor-element-1efafbc {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    width: var( --container-widget-width, 84%);
    max-width: 84%;
    --container-widget-width: 84%;
    --container-widget-flex-grow: 0;
}

.elementor-53650 .elementor-element.elementor-element-1efafbc>.elementor-widget-container {
    margin: 0px 0px 0px 10px;
}

.elementor-53650 .elementor-element.elementor-element-55cfc4a {
    padding: 20px 0px 60px 0px;
}

.elementor-53650 .elementor-element.elementor-element-b11ac4b>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-53650 .elementor-element.elementor-element-d55fe23>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-secondary);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 0px 0px 120px 0px;
}

.elementor-53650 .elementor-element.elementor-element-d55fe23>.elementor-element-populated,
.elementor-53650 .elementor-element.elementor-element-d55fe23>.elementor-element-populated>.elementor-background-overlay,
.elementor-53650 .elementor-element.elementor-element-d55fe23>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-53650 .elementor-element.elementor-element-d55fe23:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-primary);
}

.elementor-53650 .elementor-element.elementor-element-d55fe23>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53650 .elementor-element.elementor-element-71c1dd3 {
    text-align: center;
}

.elementor-53650 .elementor-element.elementor-element-71c1dd3 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2em;
}

.elementor-53650 .elementor-element.elementor-element-71c1dd3>.elementor-widget-container {
    padding: 20px 10px 20px 15px;
    background-color: var( --e-global-color-primary);
    border-radius: 20px 20px 0px 0px;
}

.elementor-53650 .elementor-element.elementor-element-18ba263 {
    color: #000000;
    font-size: 18px;
}

.elementor-53650 .elementor-element.elementor-element-18ba263>.elementor-widget-container {
    margin: 0px 0px 18px 0px;
    padding: 0px 20px 0px 20px;
}

.elementor-53650 .elementor-element.elementor-element-07d71e1 {
    text-align: left;
}

.elementor-53650 .elementor-element.elementor-element-07d71e1 .elementor-heading-title {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2em;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-53650 .elementor-element.elementor-element-07d71e1>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 20px 0px 20px;
}

.elementor-53650 .elementor-element.elementor-element-2a4a87c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-53650 .elementor-element.elementor-element-2a4a87c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-53650 .elementor-element.elementor-element-2a4a87c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-53650 .elementor-element.elementor-element-2a4a87c .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-53650 .elementor-element.elementor-element-2a4a87c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-53650 .elementor-element.elementor-element-2a4a87c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-53650 .elementor-element.elementor-element-2a4a87c .elementor-icon-list-icon i {
    color: #458B2E;
    transition: color 0.3s;
}

.elementor-53650 .elementor-element.elementor-element-2a4a87c .elementor-icon-list-icon svg {
    fill: #458B2E;
    transition: fill 0.3s;
}

.elementor-53650 .elementor-element.elementor-element-2a4a87c {
    --e-icon-list-icon-size: 18px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 4px;
}

.elementor-53650 .elementor-element.elementor-element-2a4a87c .elementor-icon-list-icon {
    padding-right: 10px;
}

.elementor-53650 .elementor-element.elementor-element-2a4a87c .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-53650 .elementor-element.elementor-element-2a4a87c .elementor-icon-list-item>a {
    font-size: 16px;
}

.elementor-53650 .elementor-element.elementor-element-2a4a87c .elementor-icon-list-text {
    color: #000000;
    transition: color 0.3s;
}

.elementor-53650 .elementor-element.elementor-element-2a4a87c>.elementor-widget-container {
    padding: 0px 20px 0px 20px;
}

.elementor-53650 .elementor-element.elementor-element-c134307>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

body:not(.rtl) .elementor-53650 .elementor-element.elementor-element-c134307 {
    left: 0px;
}

body.rtl .elementor-53650 .elementor-element.elementor-element-c134307 {
    right: 0px;
}

.elementor-53650 .elementor-element.elementor-element-c134307 {
    bottom: 30px;
}

.elementor-53650 .elementor-element.elementor-element-b73c72e>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-secondary);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 0px 0px 120px 0px;
}

.elementor-53650 .elementor-element.elementor-element-b73c72e>.elementor-element-populated,
.elementor-53650 .elementor-element.elementor-element-b73c72e>.elementor-element-populated>.elementor-background-overlay,
.elementor-53650 .elementor-element.elementor-element-b73c72e>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-53650 .elementor-element.elementor-element-b73c72e:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-primary);
}

.elementor-53650 .elementor-element.elementor-element-b73c72e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53650 .elementor-element.elementor-element-4c3a0ab {
    text-align: center;
}

.elementor-53650 .elementor-element.elementor-element-4c3a0ab .elementor-heading-title {
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2em;
}

.elementor-53650 .elementor-element.elementor-element-4c3a0ab>.elementor-widget-container {
    padding: 20px 10px 20px 15px;
    background-color: var( --e-global-color-primary);
    border-radius: 20px 20px 0px 0px;
}

.elementor-53650 .elementor-element.elementor-element-cb48866 {
    color: #000000;
    font-size: 18px;
}

.elementor-53650 .elementor-element.elementor-element-cb48866>.elementor-widget-container {
    margin: 0px 0px 18px 0px;
    padding: 0px 20px 0px 20px;
}

.elementor-53650 .elementor-element.elementor-element-c014408 {
    text-align: left;
}

.elementor-53650 .elementor-element.elementor-element-c014408 .elementor-heading-title {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2em;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-53650 .elementor-element.elementor-element-c014408>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 20px 0px 20px;
}

.elementor-53650 .elementor-element.elementor-element-871e9b1 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-53650 .elementor-element.elementor-element-871e9b1 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-53650 .elementor-element.elementor-element-871e9b1 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-53650 .elementor-element.elementor-element-871e9b1 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-53650 .elementor-element.elementor-element-871e9b1 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-53650 .elementor-element.elementor-element-871e9b1 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-53650 .elementor-element.elementor-element-871e9b1 .elementor-icon-list-icon i {
    color: #458B2E;
    transition: color 0.3s;
}

.elementor-53650 .elementor-element.elementor-element-871e9b1 .elementor-icon-list-icon svg {
    fill: #458B2E;
    transition: fill 0.3s;
}

.elementor-53650 .elementor-element.elementor-element-871e9b1 {
    --e-icon-list-icon-size: 18px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 4px;
}

.elementor-53650 .elementor-element.elementor-element-871e9b1 .elementor-icon-list-icon {
    padding-right: 10px;
}

.elementor-53650 .elementor-element.elementor-element-871e9b1 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-53650 .elementor-element.elementor-element-871e9b1 .elementor-icon-list-item>a {
    font-size: 16px;
}

.elementor-53650 .elementor-element.elementor-element-871e9b1 .elementor-icon-list-text {
    color: #000000;
    transition: color 0.3s;
}

.elementor-53650 .elementor-element.elementor-element-871e9b1>.elementor-widget-container {
    padding: 0px 20px 0px 20px;
}

.elementor-53650 .elementor-element.elementor-element-c877478>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

body:not(.rtl) .elementor-53650 .elementor-element.elementor-element-c877478 {
    left: 0px;
}

body.rtl .elementor-53650 .elementor-element.elementor-element-c877478 {
    right: 0px;
}

.elementor-53650 .elementor-element.elementor-element-c877478 {
    bottom: 30px;
}

.elementor-53650 .elementor-element.elementor-element-620b43c>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-secondary);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 0px 0px 120px 0px;
}

.elementor-53650 .elementor-element.elementor-element-620b43c>.elementor-element-populated,
.elementor-53650 .elementor-element.elementor-element-620b43c>.elementor-element-populated>.elementor-background-overlay,
.elementor-53650 .elementor-element.elementor-element-620b43c>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-53650 .elementor-element.elementor-element-620b43c:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-primary);
}

.elementor-53650 .elementor-element.elementor-element-620b43c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53650 .elementor-element.elementor-element-f8f6eee {
    text-align: center;
}

.elementor-53650 .elementor-element.elementor-element-f8f6eee .elementor-heading-title {
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2em;
}

.elementor-53650 .elementor-element.elementor-element-f8f6eee>.elementor-widget-container {
    padding: 20px 10px 20px 15px;
    background-color: var( --e-global-color-primary);
    border-radius: 20px 20px 0px 0px;
}

.elementor-53650 .elementor-element.elementor-element-a82f286 {
    color: #000000;
    font-size: 18px;
}

.elementor-53650 .elementor-element.elementor-element-a82f286>.elementor-widget-container {
    padding: 0px 20px 0px 20px;
}

.elementor-53650 .elementor-element.elementor-element-bebc85d {
    text-align: left;
}

.elementor-53650 .elementor-element.elementor-element-bebc85d .elementor-heading-title {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2em;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-53650 .elementor-element.elementor-element-bebc85d>.elementor-widget-container {
    padding: 0px 20px 0px 20px;
}

.elementor-53650 .elementor-element.elementor-element-4ce0a2b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-53650 .elementor-element.elementor-element-4ce0a2b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-53650 .elementor-element.elementor-element-4ce0a2b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-53650 .elementor-element.elementor-element-4ce0a2b .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-53650 .elementor-element.elementor-element-4ce0a2b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-53650 .elementor-element.elementor-element-4ce0a2b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-53650 .elementor-element.elementor-element-4ce0a2b .elementor-icon-list-icon i {
    color: #458B2E;
    transition: color 0.3s;
}

.elementor-53650 .elementor-element.elementor-element-4ce0a2b .elementor-icon-list-icon svg {
    fill: #458B2E;
    transition: fill 0.3s;
}

.elementor-53650 .elementor-element.elementor-element-4ce0a2b {
    --e-icon-list-icon-size: 18px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 4px;
}

.elementor-53650 .elementor-element.elementor-element-4ce0a2b .elementor-icon-list-icon {
    padding-right: 10px;
}

.elementor-53650 .elementor-element.elementor-element-4ce0a2b .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-53650 .elementor-element.elementor-element-4ce0a2b .elementor-icon-list-item>a {
    font-size: 16px;
}

.elementor-53650 .elementor-element.elementor-element-4ce0a2b .elementor-icon-list-text {
    color: #000000;
    transition: color 0.3s;
}

.elementor-53650 .elementor-element.elementor-element-4ce0a2b>.elementor-widget-container {
    padding: 0px 20px 0px 20px;
}

.elementor-53650 .elementor-element.elementor-element-e919303>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

body:not(.rtl) .elementor-53650 .elementor-element.elementor-element-e919303 {
    left: 0px;
}

body.rtl .elementor-53650 .elementor-element.elementor-element-e919303 {
    right: 0px;
}

.elementor-53650 .elementor-element.elementor-element-e919303 {
    bottom: 30px;
}

.elementor-53650 .elementor-element.elementor-element-19815d7 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    width: var( --container-widget-width, 84%);
    max-width: 84%;
    --container-widget-width: 84%;
    --container-widget-flex-grow: 0;
}

.elementor-53650 .elementor-element.elementor-element-19815d7>.elementor-widget-container {
    margin: 0px 0px 0px 10px;
}

.elementor-53650 .elementor-element.elementor-element-447f4b0>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-53650 .elementor-element.elementor-element-447f4b0:not(.elementor-motion-effects-element-type-background),
.elementor-53650 .elementor-element.elementor-element-447f4b0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://datamaticscpa.com/wp-content/uploads/2023/06/cta-bg.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-53650 .elementor-element.elementor-element-447f4b0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}

.elementor-53650 .elementor-element.elementor-element-447f4b0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-53650 .elementor-element.elementor-element-e24bf23.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-53650 .elementor-element.elementor-element-e24bf23.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-53650 .elementor-element.elementor-element-12bb456 {
    text-align: left;
}

.elementor-53650 .elementor-element.elementor-element-12bb456 .elementor-heading-title {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2em;
}

.elementor-bc-flex-widget .elementor-53650 .elementor-element.elementor-element-9aaaeed.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-53650 .elementor-element.elementor-element-9aaaeed.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-53650 .elementor-element.elementor-element-9aaaeed.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-53650 .elementor-element.elementor-element-9596d83>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-53650 .elementor-element.elementor-element-b395256 .elementor-repeater-item-542e32a.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-53650 .elementor-element.elementor-element-16487f4 {
    text-align: center;
}

.elementor-53650 .elementor-element.elementor-element-16487f4 .elementor-heading-title {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2em;
}

.elementor-53650 .elementor-element.elementor-element-fd3f37d {
    text-align: center;
    color: #000000;
    font-size: 18px;
}

.elementor-53650 .elementor-element.elementor-element-fd3f37d>.elementor-widget-container {
    padding: 0% 0% 0% 0%;
}

.elementor-53650 .elementor-element.elementor-element-04811dd .elementor-repeater-item-d2936d2.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-53650 .elementor-element.elementor-element-35934f9:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-53650 .elementor-element.elementor-element-35934f9>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-53650 .elementor-element.elementor-element-35934f9>.elementor-element-populated,
.elementor-53650 .elementor-element.elementor-element-35934f9>.elementor-element-populated>.elementor-background-overlay,
.elementor-53650 .elementor-element.elementor-element-35934f9>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-53650 .elementor-element.elementor-element-35934f9>.elementor-element-populated {
    box-shadow: 0px 6px 14px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 30px 30px 30px 30px;
}

.elementor-53650 .elementor-element.elementor-element-35934f9>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53650 .elementor-element.elementor-element-10a12a4 img {
    width: 50px;
}

.elementor-53650 .elementor-element.elementor-element-03b9ba4 .elementor-counter-number-wrapper {
    color: #B90E18;
    font-size: 36px;
    line-height: 1.4em;
}

.elementor-53650 .elementor-element.elementor-element-03b9ba4 .elementor-counter-title {
    color: #666666;
    font-size: 16px;
    line-height: 1.4em;
}

.elementor-53650 .elementor-element.elementor-element-e90a63f:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-53650 .elementor-element.elementor-element-e90a63f>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-53650 .elementor-element.elementor-element-e90a63f>.elementor-element-populated,
.elementor-53650 .elementor-element.elementor-element-e90a63f>.elementor-element-populated>.elementor-background-overlay,
.elementor-53650 .elementor-element.elementor-element-e90a63f>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-53650 .elementor-element.elementor-element-e90a63f>.elementor-element-populated {
    box-shadow: 0px 6px 14px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 30px 30px 30px 30px;
}

.elementor-53650 .elementor-element.elementor-element-e90a63f>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53650 .elementor-element.elementor-element-5296a17 img {
    width: 50px;
}

.elementor-53650 .elementor-element.elementor-element-3d6aab0 .elementor-counter-number-wrapper {
    color: #B90E18;
    font-size: 36px;
    line-height: 1.4em;
}

.elementor-53650 .elementor-element.elementor-element-3d6aab0 .elementor-counter-title {
    color: #666666;
    font-size: 16px;
    line-height: 1.4em;
}

.elementor-53650 .elementor-element.elementor-element-79d2b22:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-53650 .elementor-element.elementor-element-79d2b22>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-53650 .elementor-element.elementor-element-79d2b22>.elementor-element-populated,
.elementor-53650 .elementor-element.elementor-element-79d2b22>.elementor-element-populated>.elementor-background-overlay,
.elementor-53650 .elementor-element.elementor-element-79d2b22>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-53650 .elementor-element.elementor-element-79d2b22>.elementor-element-populated {
    box-shadow: 0px 6px 14px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 30px 30px 30px 30px;
}

.elementor-53650 .elementor-element.elementor-element-79d2b22>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53650 .elementor-element.elementor-element-5577ce2 img {
    width: 50px;
}

.elementor-53650 .elementor-element.elementor-element-9fb1bb6 .elementor-counter-number-wrapper {
    color: #B90E18;
    font-size: 36px;
    line-height: 1.4em;
}

.elementor-53650 .elementor-element.elementor-element-9fb1bb6 .elementor-counter-title {
    color: #666666;
    font-size: 16px;
    line-height: 1.4em;
}

.elementor-53650 .elementor-element.elementor-element-616b435:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-53650 .elementor-element.elementor-element-616b435>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-53650 .elementor-element.elementor-element-616b435>.elementor-element-populated,
.elementor-53650 .elementor-element.elementor-element-616b435>.elementor-element-populated>.elementor-background-overlay,
.elementor-53650 .elementor-element.elementor-element-616b435>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-53650 .elementor-element.elementor-element-616b435>.elementor-element-populated {
    box-shadow: 0px 6px 14px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 30px 30px 30px 30px;
}

.elementor-53650 .elementor-element.elementor-element-616b435>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53650 .elementor-element.elementor-element-d8d17c4 img {
    width: 50px;
}

.elementor-53650 .elementor-element.elementor-element-a37b183 .elementor-counter-number-wrapper {
    color: #B90E18;
    font-size: 36px;
    line-height: 1.4em;
}

.elementor-53650 .elementor-element.elementor-element-a37b183 .elementor-counter-title {
    color: #666666;
    font-size: 16px;
    line-height: 1.4em;
}

.elementor-53650 .elementor-element.elementor-element-b395256:not(.elementor-motion-effects-element-type-background),
.elementor-53650 .elementor-element.elementor-element-b395256>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F7F7F7;
    background-image: url("https://datamaticscpa.com/wp-content/uploads/2023/05/stripe.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.elementor-53650 .elementor-element.elementor-element-b395256>.elementor-background-overlay {
    background-color: #FFFFFF;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53650 .elementor-element.elementor-element-b395256 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 60px 0px;
    z-index: 1;
}

@media(min-width:768px) {
    .elementor-53650 .elementor-element.elementor-element-e24bf23 {
        width: 70%;
    }
    .elementor-53650 .elementor-element.elementor-element-9aaaeed {
        width: 30%;
    }
}

@media(max-width:1366px) {
    .elementor-53650 .elementor-element.elementor-element-959f7a4 .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53650 .elementor-element.elementor-element-71c1dd3 .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-53650 .elementor-element.elementor-element-71c1dd3>.elementor-widget-container {
        padding: 15px 15px 15px 15px;
    }
    .elementor-53650 .elementor-element.elementor-element-4c3a0ab .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-53650 .elementor-element.elementor-element-4c3a0ab>.elementor-widget-container {
        padding: 15px 15px 15px 15px;
    }
    .elementor-53650 .elementor-element.elementor-element-f8f6eee .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-53650 .elementor-element.elementor-element-f8f6eee>.elementor-widget-container {
        padding: 15px 15px 15px 15px;
    }
    .elementor-53650 .elementor-element.elementor-element-12bb456 .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53650 .elementor-element.elementor-element-16487f4 .elementor-heading-title {
        font-size: 36px;
    }
}

@media(max-width:1200px) {
    .elementor-53650 .elementor-element.elementor-element-959f7a4 .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53650 .elementor-element.elementor-element-61f1403 {
        font-size: 16px;
        --container-widget-width: 75%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 75%);
        max-width: 75%;
    }
    .elementor-53650 .elementor-element.elementor-element-5adb068 {
        font-size: 16px;
        --container-widget-width: 75%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 75%);
        max-width: 75%;
    }
    .elementor-53650 .elementor-element.elementor-element-1efafbc {
        font-size: 16px;
        --container-widget-width: 75%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 75%);
        max-width: 75%;
    }
    .elementor-53650 .elementor-element.elementor-element-71c1dd3 .elementor-heading-title {
        font-size: 22px;
    }
    .elementor-53650 .elementor-element.elementor-element-4c3a0ab .elementor-heading-title {
        font-size: 22px;
    }
    .elementor-53650 .elementor-element.elementor-element-f8f6eee .elementor-heading-title {
        font-size: 22px;
    }
    .elementor-53650 .elementor-element.elementor-element-19815d7 {
        font-size: 16px;
        --container-widget-width: 75%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 75%);
        max-width: 75%;
    }
    .elementor-53650 .elementor-element.elementor-element-12bb456 .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53650 .elementor-element.elementor-element-16487f4 .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53650 .elementor-element.elementor-element-03b9ba4 .elementor-counter-number-wrapper {
        font-size: 32px;
    }
    .elementor-53650 .elementor-element.elementor-element-3d6aab0 .elementor-counter-number-wrapper {
        font-size: 32px;
    }
    .elementor-53650 .elementor-element.elementor-element-9fb1bb6 .elementor-counter-number-wrapper {
        font-size: 32px;
    }
    .elementor-53650 .elementor-element.elementor-element-a37b183 .elementor-counter-number-wrapper {
        font-size: 32px;
    }
}

@media(max-width:1024px) {
    .elementor-53650 .elementor-element.elementor-element-959f7a4 .elementor-heading-title {
        font-size: 32px;
    }
    .elementor-53650 .elementor-element.elementor-element-959f7a4>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }
    .elementor-bc-flex-widget .elementor-53650 .elementor-element.elementor-element-411b43c.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-53650 .elementor-element.elementor-element-411b43c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-53650 .elementor-element.elementor-element-38ab3a4 {
        --container-widget-width: 14%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 14%);
        max-width: 14%;
    }
    .elementor-bc-flex-widget .elementor-53650 .elementor-element.elementor-element-30a4e9b.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-53650 .elementor-element.elementor-element-30a4e9b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-53650 .elementor-element.elementor-element-298593d {
        --container-widget-width: 14%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 14%);
        max-width: 14%;
    }
    .elementor-bc-flex-widget .elementor-53650 .elementor-element.elementor-element-0f7f922.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-53650 .elementor-element.elementor-element-0f7f922.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-53650 .elementor-element.elementor-element-f44e528 {
        --container-widget-width: 14%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 14%);
        max-width: 14%;
    }
    .elementor-53650 .elementor-element.elementor-element-71c1dd3 .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-53650 .elementor-element.elementor-element-71c1dd3>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-53650 .elementor-element.elementor-element-4c3a0ab .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-53650 .elementor-element.elementor-element-4c3a0ab>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-53650 .elementor-element.elementor-element-f8f6eee .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-53650 .elementor-element.elementor-element-f8f6eee>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-53650 .elementor-element.elementor-element-12bb456 .elementor-heading-title {
        font-size: 32px;
    }
    .elementor-53650 .elementor-element.elementor-element-12bb456>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-53650 .elementor-element.elementor-element-16487f4 .elementor-heading-title {
        font-size: 32px;
    }
    .elementor-53650 .elementor-element.elementor-element-16487f4>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }
    .elementor-53650 .elementor-element.elementor-element-03b9ba4 .elementor-counter-number-wrapper {
        font-size: 32px;
    }
    .elementor-53650 .elementor-element.elementor-element-3d6aab0 .elementor-counter-number-wrapper {
        font-size: 32px;
    }
    .elementor-53650 .elementor-element.elementor-element-9fb1bb6 .elementor-counter-number-wrapper {
        font-size: 32px;
    }
    .elementor-53650 .elementor-element.elementor-element-a37b183 .elementor-counter-number-wrapper {
        font-size: 32px;
    }
    .elementor-53650 .elementor-element.elementor-element-b395256 {
        padding: 40px 0px 40px 0px;
    }
}

@media(max-width:767px) {
    .elementor-53650 .elementor-element.elementor-element-90875a0 {
        z-index: 0;
    }
    .elementor-53650 .elementor-element.elementor-element-a465881 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-53650 .elementor-element.elementor-element-959f7a4 {
        text-align: center;
    }
    .elementor-53650 .elementor-element.elementor-element-959f7a4 .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-bc-flex-widget .elementor-53650 .elementor-element.elementor-element-411b43c.elementor-column .elementor-widget-wrap {
        align-items: flex-start;
    }
    .elementor-53650 .elementor-element.elementor-element-411b43c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: flex-start;
        align-items: flex-start;
    }
    .elementor-53650 .elementor-element.elementor-element-61f1403>.elementor-widget-container {
        margin: 0px 0px 0px 20px;
    }
    .elementor-bc-flex-widget .elementor-53650 .elementor-element.elementor-element-30a4e9b.elementor-column .elementor-widget-wrap {
        align-items: flex-start;
    }
    .elementor-53650 .elementor-element.elementor-element-30a4e9b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: flex-start;
        align-items: flex-start;
    }
    .elementor-53650 .elementor-element.elementor-element-5adb068>.elementor-widget-container {
        margin: 0px 0px 0px 20px;
    }
    .elementor-bc-flex-widget .elementor-53650 .elementor-element.elementor-element-0f7f922.elementor-column .elementor-widget-wrap {
        align-items: flex-start;
    }
    .elementor-53650 .elementor-element.elementor-element-0f7f922.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: flex-start;
        align-items: flex-start;
    }
    .elementor-53650 .elementor-element.elementor-element-1efafbc>.elementor-widget-container {
        margin: 0px 0px 0px 20px;
    }
    .elementor-53650 .elementor-element.elementor-element-71c1dd3 {
        text-align: center;
    }
    .elementor-53650 .elementor-element.elementor-element-71c1dd3 .elementor-heading-title {
        font-size: 22px;
    }
    .elementor-53650 .elementor-element.elementor-element-18ba263>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-53650 .elementor-element.elementor-element-07d71e1 .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-53650 .elementor-element.elementor-element-07d71e1>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-53650 .elementor-element.elementor-element-4c3a0ab {
        text-align: center;
    }
    .elementor-53650 .elementor-element.elementor-element-4c3a0ab .elementor-heading-title {
        font-size: 22px;
    }
    .elementor-53650 .elementor-element.elementor-element-cb48866>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-53650 .elementor-element.elementor-element-c014408 .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-53650 .elementor-element.elementor-element-c014408>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-53650 .elementor-element.elementor-element-f8f6eee {
        text-align: center;
    }
    .elementor-53650 .elementor-element.elementor-element-f8f6eee .elementor-heading-title {
        font-size: 22px;
    }
    .elementor-53650 .elementor-element.elementor-element-bebc85d .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-53650 .elementor-element.elementor-element-19815d7>.elementor-widget-container {
        margin: 0px 0px 0px 20px;
    }
    .elementor-53650 .elementor-element.elementor-element-447f4b0:not(.elementor-motion-effects-element-type-background),
    .elementor-53650 .elementor-element.elementor-element-447f4b0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-size: cover;
    }
    .elementor-53650 .elementor-element.elementor-element-447f4b0 {
        padding: 60px 0px 60px 0px;
    }
    .elementor-53650 .elementor-element.elementor-element-12bb456 {
        text-align: center;
    }
    .elementor-53650 .elementor-element.elementor-element-12bb456 .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-53650 .elementor-element.elementor-element-16487f4 {
        text-align: center;
    }
    .elementor-53650 .elementor-element.elementor-element-16487f4 .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-53650 .elementor-element.elementor-element-16487f4>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-53650 .elementor-element.elementor-element-fd3f37d {
        font-size: 16px;
    }
    .elementor-53650 .elementor-element.elementor-element-fd3f37d>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-53650 .elementor-element.elementor-element-35934f9>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-53650 .elementor-element.elementor-element-03b9ba4 .elementor-counter-number-wrapper {
        font-size: 26px;
    }
    .elementor-53650 .elementor-element.elementor-element-e90a63f>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-53650 .elementor-element.elementor-element-3d6aab0 .elementor-counter-number-wrapper {
        font-size: 26px;
    }
    .elementor-53650 .elementor-element.elementor-element-79d2b22>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-53650 .elementor-element.elementor-element-9fb1bb6 .elementor-counter-number-wrapper {
        font-size: 26px;
    }
    .elementor-53650 .elementor-element.elementor-element-616b435>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-53650 .elementor-element.elementor-element-a37b183 .elementor-counter-number-wrapper {
        font-size: 26px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-53650 .elementor-element.elementor-element-411b43c {
        width: 50%;
    }
    .elementor-53650 .elementor-element.elementor-element-30a4e9b {
        width: 50%;
    }
    .elementor-53650 .elementor-element.elementor-element-0f7f922 {
        width: 50%;
    }
    .elementor-53650 .elementor-element.elementor-element-d55fe23 {
        width: 50%;
    }
    .elementor-53650 .elementor-element.elementor-element-b73c72e {
        width: 50%;
    }
    .elementor-53650 .elementor-element.elementor-element-620b43c {
        width: 100%;
    }
    .elementor-53650 .elementor-element.elementor-element-35934f9 {
        width: 50%;
    }
    .elementor-53650 .elementor-element.elementor-element-e90a63f {
        width: 50%;
    }
    .elementor-53650 .elementor-element.elementor-element-79d2b22 {
        width: 50%;
    }
    .elementor-53650 .elementor-element.elementor-element-616b435 {
        width: 50%;
    }
}

@media(min-width:1920px) {
    .elementor-53650 .elementor-element.elementor-element-959f7a4 .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53650 .elementor-element.elementor-element-71c1dd3 .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-53650 .elementor-element.elementor-element-71c1dd3>.elementor-widget-container {
        padding: 15px 15px 15px 15px;
    }
    .elementor-53650 .elementor-element.elementor-element-4c3a0ab .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-53650 .elementor-element.elementor-element-4c3a0ab>.elementor-widget-container {
        padding: 15px 15px 15px 15px;
    }
    .elementor-53650 .elementor-element.elementor-element-f8f6eee .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-53650 .elementor-element.elementor-element-f8f6eee>.elementor-widget-container {
        padding: 15px 15px 15px 15px;
    }
    .elementor-53650 .elementor-element.elementor-element-12bb456 .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-53650 .elementor-element.elementor-element-16487f4 .elementor-heading-title {
        font-size: 36px;
    }
}