.elementor-58353 .elementor-element.elementor-element-3588f4cc>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-58353 .elementor-element.elementor-element-3588f4cc .elementor-repeater-item-31357b7.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-bc-flex-widget .elementor-58353 .elementor-element.elementor-element-1be62d58.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-58353 .elementor-element.elementor-element-1be62d58.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-58353 .elementor-element.elementor-element-1be62d58>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-58353 .elementor-element.elementor-element-1be62d58>.elementor-element-populated {
    padding: 0px 0px 0px 15px;
}

.elementor-58353 .elementor-element.elementor-element-1a3e8cd1 {
    text-align: left;
}

.elementor-58353 .elementor-element.elementor-element-1a3e8cd1 .elementor-heading-title {
    color: #ffffff;
    font-size: 35px;
    font-weight: 500;
    line-height: 1.1em;
}

.elementor-58353 .elementor-element.elementor-element-1a3e8cd1>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
}

.elementor-58353 .elementor-element.elementor-element-21bacae4 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0px;
}

.elementor-58353 .elementor-element.elementor-element-21bacae4>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
}

.elementor-58353 .elementor-element.elementor-element-3588f4cc:not(.elementor-motion-effects-element-type-background),
.elementor-58353 .elementor-element.elementor-element-3588f4cc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #222222;
}

.elementor-58353 .elementor-element.elementor-element-3588f4cc {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 40px 10px 40px;
}

.elementor-58353 .elementor-element.elementor-element-3588f4cc>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-58353 .elementor-element.elementor-element-710646a>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-58353 .elementor-element.elementor-element-710646a .elementor-repeater-item-31357b7.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-bc-flex-widget .elementor-58353 .elementor-element.elementor-element-18287805.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-58353 .elementor-element.elementor-element-18287805.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-58353 .elementor-element.elementor-element-18287805>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-58353 .elementor-element.elementor-element-1b6dbba2 {
    --divider-border-style: solid;
    --divider-color: #ba0020;
    --divider-border-width: 3px;
}

.elementor-58353 .elementor-element.elementor-element-1b6dbba2 .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-58353 .elementor-element.elementor-element-1b6dbba2 .elementor-divider {
    text-align: center;
    padding-block-start: 2px;
    padding-block-end: 2px;
}

.elementor-58353 .elementor-element.elementor-element-1b6dbba2>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 12px 10px;
}

.elementor-58353 .elementor-element.elementor-element-42c3183 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}

.elementor-58353 .elementor-element.elementor-element-42c3183>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
}

.elementor-58353 .elementor-element.elementor-element-710646a:not(.elementor-motion-effects-element-type-background),
.elementor-58353 .elementor-element.elementor-element-710646a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #222222;
}

.elementor-58353 .elementor-element.elementor-element-710646a {
    box-shadow: -100px -100px 0px -100px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 30px 20px 30px;
}

.elementor-58353 .elementor-element.elementor-element-710646a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

#elementor-popup-modal-58353 .dialog-message {
    width: 70vw;
    height: auto;
}

#elementor-popup-modal-58353 {
    justify-content: center;
    align-items: center;
    pointer-events: all;
    background-color: rgba(0, 0, 0, .8);
}

#elementor-popup-modal-58353 .dialog-close-button {
    display: flex;
}

#elementor-popup-modal-58353 .dialog-widget-content {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

#elementor-popup-modal-58353 .dialog-close-button i {
    color: #FFFFFF;
}

#elementor-popup-modal-58353 .dialog-close-button svg {
    fill: #FFFFFF;
}

@media(max-width:1024px) {
    .elementor-bc-flex-widget .elementor-58353 .elementor-element.elementor-element-1be62d58.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-58353 .elementor-element.elementor-element-1be62d58.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-58353 .elementor-element.elementor-element-1be62d58>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 10px;
    }
    .elementor-58353 .elementor-element.elementor-element-1a3e8cd1 .elementor-heading-title {
        font-size: 45px;
    }
    .elementor-58353 .elementor-element.elementor-element-1a3e8cd1>.elementor-widget-container {
        padding: 0px 15px 0px 15px;
    }
    .elementor-58353 .elementor-element.elementor-element-21bacae4>.elementor-widget-container {
        padding: 0px 15px 0px 15px;
    }
    .elementor-58353 .elementor-element.elementor-element-3588f4cc {
        padding: 40px 40px 20px 40px;
    }
    .elementor-58353 .elementor-element.elementor-element-18287805>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .elementor-58353 .elementor-element.elementor-element-1b6dbba2 .elementor-divider-separator {
        width: 100%;
        margin: 0 auto;
        margin-center: 0;
    }
    .elementor-58353 .elementor-element.elementor-element-1b6dbba2 .elementor-divider {
        text-align: center;
    }
    .elementor-58353 .elementor-element.elementor-element-1b6dbba2>.elementor-widget-container {
        padding: 0px 10px 20px 10px;
    }
    .elementor-58353 .elementor-element.elementor-element-710646a {
        padding: 0px 20px 0px 20px;
    }
    #elementor-popup-modal-58353 .dialog-message {
        width: 85vw;
    }
}

@media(min-width:768px) {
    .elementor-58353 .elementor-element.elementor-element-4adad6fb {
        width: 25%;
    }
    .elementor-58353 .elementor-element.elementor-element-1be62d58 {
        width: 74.703%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-58353 .elementor-element.elementor-element-4adad6fb {
        width: 25%;
    }
    .elementor-58353 .elementor-element.elementor-element-1be62d58 {
        width: 75%;
    }
}

@media(max-width:767px) {
    .elementor-58353 .elementor-element.elementor-element-4adad6fb {
        width: 100%;
    }
    .elementor-58353 .elementor-element.elementor-element-4adad6fb>.elementor-element-populated {
        padding: 0% 25% 0% 25%;
    }
    .elementor-58353 .elementor-element.elementor-element-45783356 {
        text-align: left;
    }
    .elementor-58353 .elementor-element.elementor-element-45783356 img {
        max-width: 100%;
    }
    .elementor-58353 .elementor-element.elementor-element-45783356>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-58353 .elementor-element.elementor-element-1be62d58>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-58353 .elementor-element.elementor-element-1a3e8cd1 {
        text-align: center;
    }
    .elementor-58353 .elementor-element.elementor-element-1a3e8cd1 .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-58353 .elementor-element.elementor-element-1a3e8cd1>.elementor-widget-container {
        padding: 10px 0px 0px 0px;
    }
    .elementor-58353 .elementor-element.elementor-element-21bacae4 {
        text-align: center;
    }
    .elementor-58353 .elementor-element.elementor-element-21bacae4>.elementor-widget-container {
        margin: -10px 0px 0px 0px;
        padding: 10px 0px 0px 0px;
    }
    .elementor-58353 .elementor-element.elementor-element-3588f4cc {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 30px 40px 0px 20px;
    }
    .elementor-58353 .elementor-element.elementor-element-18287805>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-58353 .elementor-element.elementor-element-1b6dbba2>.elementor-widget-container {
        padding: 0px 10px 10px 10px;
    }
    .elementor-58353 .elementor-element.elementor-element-42c3183>.elementor-widget-container {
        padding: 5px 10px 0px 10px;
    }
    .elementor-58353 .elementor-element.elementor-element-710646a {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 30px 0px 20px;
    }
}