.elementor-51959 .elementor-element.elementor-element-43b6b5d2>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-51959 .elementor-element.elementor-element-43b6b5d2 .elementor-repeater-item-31357b7.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-bc-flex-widget .elementor-51959 .elementor-element.elementor-element-453c5a3c.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-51959 .elementor-element.elementor-element-453c5a3c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-51959 .elementor-element.elementor-element-453c5a3c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-51959 .elementor-element.elementor-element-453c5a3c>.elementor-element-populated {
    padding: 0px 0px 0px 15px;
}

.elementor-51959 .elementor-element.elementor-element-36215b4c {
    text-align: left;
}

.elementor-51959 .elementor-element.elementor-element-36215b4c .elementor-heading-title {
    color: #ffffff;
    font-size: 35px;
    font-weight: 500;
    line-height: 1.1em;
}

.elementor-51959 .elementor-element.elementor-element-36215b4c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
}

.elementor-51959 .elementor-element.elementor-element-19ade387 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0px;
}

.elementor-51959 .elementor-element.elementor-element-19ade387>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
}

.elementor-51959 .elementor-element.elementor-element-43b6b5d2:not(.elementor-motion-effects-element-type-background),
.elementor-51959 .elementor-element.elementor-element-43b6b5d2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #222222;
}

.elementor-51959 .elementor-element.elementor-element-43b6b5d2 {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 40px 10px 40px;
}

.elementor-51959 .elementor-element.elementor-element-43b6b5d2>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-51959 .elementor-element.elementor-element-5d8ba722>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-51959 .elementor-element.elementor-element-5d8ba722 .elementor-repeater-item-31357b7.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-bc-flex-widget .elementor-51959 .elementor-element.elementor-element-5b1ea5ef.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-51959 .elementor-element.elementor-element-5b1ea5ef.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-51959 .elementor-element.elementor-element-5b1ea5ef>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-51959 .elementor-element.elementor-element-7349c9ea {
    --divider-border-style: solid;
    --divider-color: #ba0020;
    --divider-border-width: 3px;
}

.elementor-51959 .elementor-element.elementor-element-7349c9ea .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-51959 .elementor-element.elementor-element-7349c9ea .elementor-divider {
    text-align: center;
    padding-block-start: 2px;
    padding-block-end: 2px;
}

.elementor-51959 .elementor-element.elementor-element-7349c9ea>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 12px 10px;
}

.elementor-51959 .elementor-element.elementor-element-7f68a410 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}

.elementor-51959 .elementor-element.elementor-element-7f68a410>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
}

.elementor-51959 .elementor-element.elementor-element-5d8ba722:not(.elementor-motion-effects-element-type-background),
.elementor-51959 .elementor-element.elementor-element-5d8ba722>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #222222;
}

.elementor-51959 .elementor-element.elementor-element-5d8ba722 {
    box-shadow: -100px -100px 0px -100px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 30px 20px 30px;
}

.elementor-51959 .elementor-element.elementor-element-5d8ba722>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

#elementor-popup-modal-51959 .dialog-message {
    width: 70vw;
    height: auto;
}

#elementor-popup-modal-51959 {
    justify-content: center;
    align-items: center;
    pointer-events: all;
    background-color: rgba(0, 0, 0, .8);
}

#elementor-popup-modal-51959 .dialog-close-button {
    display: flex;
}

#elementor-popup-modal-51959 .dialog-widget-content {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

@media(max-width:1024px) {
    .elementor-bc-flex-widget .elementor-51959 .elementor-element.elementor-element-453c5a3c.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-51959 .elementor-element.elementor-element-453c5a3c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-51959 .elementor-element.elementor-element-453c5a3c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 10px;
    }
    .elementor-51959 .elementor-element.elementor-element-36215b4c .elementor-heading-title {
        font-size: 45px;
    }
    .elementor-51959 .elementor-element.elementor-element-36215b4c>.elementor-widget-container {
        padding: 0px 15px 0px 15px;
    }
    .elementor-51959 .elementor-element.elementor-element-19ade387>.elementor-widget-container {
        padding: 0px 15px 0px 15px;
    }
    .elementor-51959 .elementor-element.elementor-element-43b6b5d2 {
        padding: 40px 40px 20px 40px;
    }
    .elementor-51959 .elementor-element.elementor-element-5b1ea5ef>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .elementor-51959 .elementor-element.elementor-element-7349c9ea .elementor-divider-separator {
        width: 100%;
        margin: 0 auto;
        margin-center: 0;
    }
    .elementor-51959 .elementor-element.elementor-element-7349c9ea .elementor-divider {
        text-align: center;
    }
    .elementor-51959 .elementor-element.elementor-element-7349c9ea>.elementor-widget-container {
        padding: 0px 10px 20px 10px;
    }
    .elementor-51959 .elementor-element.elementor-element-5d8ba722 {
        padding: 0px 20px 0px 20px;
    }
    #elementor-popup-modal-51959 .dialog-message {
        width: 85vw;
    }
}

@media(min-width:768px) {
    .elementor-51959 .elementor-element.elementor-element-3e6fee29 {
        width: 25%;
    }
    .elementor-51959 .elementor-element.elementor-element-453c5a3c {
        width: 74.703%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-51959 .elementor-element.elementor-element-3e6fee29 {
        width: 25%;
    }
    .elementor-51959 .elementor-element.elementor-element-453c5a3c {
        width: 75%;
    }
}

@media(max-width:767px) {
    .elementor-51959 .elementor-element.elementor-element-3e6fee29 {
        width: 100%;
    }
    .elementor-51959 .elementor-element.elementor-element-3e6fee29>.elementor-element-populated {
        padding: 0% 25% 0% 25%;
    }
    .elementor-51959 .elementor-element.elementor-element-d402e5d {
        text-align: left;
    }
    .elementor-51959 .elementor-element.elementor-element-d402e5d img {
        max-width: 100%;
    }
    .elementor-51959 .elementor-element.elementor-element-d402e5d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-51959 .elementor-element.elementor-element-453c5a3c>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-51959 .elementor-element.elementor-element-36215b4c {
        text-align: center;
    }
    .elementor-51959 .elementor-element.elementor-element-36215b4c .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-51959 .elementor-element.elementor-element-36215b4c>.elementor-widget-container {
        padding: 10px 0px 0px 0px;
    }
    .elementor-51959 .elementor-element.elementor-element-19ade387 {
        text-align: center;
    }
    .elementor-51959 .elementor-element.elementor-element-19ade387>.elementor-widget-container {
        margin: -10px 0px 0px 0px;
        padding: 10px 0px 0px 0px;
    }
    .elementor-51959 .elementor-element.elementor-element-43b6b5d2 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 30px 40px 0px 20px;
    }
    .elementor-51959 .elementor-element.elementor-element-5b1ea5ef>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-51959 .elementor-element.elementor-element-7349c9ea>.elementor-widget-container {
        padding: 0px 10px 10px 10px;
    }
    .elementor-51959 .elementor-element.elementor-element-7f68a410>.elementor-widget-container {
        padding: 5px 10px 0px 10px;
    }
    .elementor-51959 .elementor-element.elementor-element-5d8ba722 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 30px 0px 20px;
    }
}

/* Start custom CSS for section, class: .elementor-element-43b6b5d2 */

#elementor-popup-modal-31124 .dialog-close-button {
    color: #ffffff;
}

/* End custom CSS */